<nav class="sections_sidebar">
    <ul class="sidebar_list">
        <li><a href="#">World</a></li>
        <li class="sf_dropdown"><a href="#">San Francisco</a></li>
            <ul>
                <li class="subheader">San Francisco</li>
                <li><a href="#">Student</a></li>
                <li><a href="#">Teaching Assistants</a></li>
                <li><a href="#">Instructors</a></li>
                <li><a href="#">Career Advisors</a></li>
                <li><a href="#">Cats</a></li>
            </ul>
        </li>
        <li><a href="#">New York</a></li>
        <li class="bp_dropdown"><a href="#">Bootcamp Prep</a></li>
            <ul>
                <li><a href="#">Students</a></li>
                <li><a href="#">Instructors</a></li>
                <li><a href="#">Cats</a></li>
            </ul>
        <li><a href="#">Jumpstart</a></li>
        <li class="o_dropdown"><a href="#">Online</a></li>
            <ul>
                <li><a href="#">Immersive</a></li>
                <li><a href="#">Bootcamp Prep</a></li>
                <li><a href="#">Cats</a></li>
            </ul>
        <li><a href="#">Marketing</a></li>
        <li class="s_dropdown"><a href="#">Sales</a></li>
            <ul>
                <li><a href="#">Associates</a></li>
                <li><a href="#">Analytics</a></li>
                <li><a href="#">Cats</a></li>
            </ul>
        <li><a href="#">TalentMatch</a></li>
        <li class="a_dropdown"><a href="#">Alumni</a></li>
            <ul>
                <li><a href="#">Students</a></li>
                <li><a href="#">Companies</a></li>
                <li><a href="#">Opinions</a></li>
                <li><a href="#">Cats</a></li>
            </ul>
        <li><a href="#">ALL</a></li>
    </ul>
</nav>

