.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid lightgray;
}

.left-nav > ul,
.right-nav > ul {
  display: flex;
  align-items: center;
}

.left-nav {
  display: flex;
  align-items: center;
  
  > ul {
    > li {
      font-family: $sans-serif;
      font-size: 12px;
      text-transform: uppercase;
      margin-left: 10px;
      font-weight: 700;
      padding: 5px 8px;
    }
  }

  span {
    margin-left: 10px;
  }
}

.right-nav  {

  > ul {

    > li {
      margin-left: 5px;
      cursor: pointer;
    }

    > li:last-of-type {
      margin-left: 10px;
      position: relative;
    }
  }
  
  i {
    font-size: 16px;
    padding: 5px;
  }
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
  background-color: $lightest-gray;
}

@media all and (max-width: 1000px) {
  .right-nav {
     
    button {
      display: none;
    }
  }

  .left-nav > ul > li {
    margin: 0;
  }

  .main-nav {
    padding: 20px 0;
  }


}